dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Convex
.env.local
convex/_generated/

# Uploads folder - keep folder but ignore contents
uploads/*
!uploads/.gitkeep
